<nav class="banner">
  <div>
    <%= image_tag("banner.gif") %>
  </div>
  <div id="dropdown">
    <i class="fas fa-align-justify" style="font-size: 2rem"></i>
  </div>
  <div class="icons-setter">
    <% unless current_page?(root_path) %>
      <%= link_to root_path, class: "home-button" do %>
        <i class="fab fa-fort-awesome"></i>
      <% end %>
    <% end %>
    <% unless (controller_name == 'pages' && action_name == 'checkout') || (controller_name == 'baskets' && action_name == 'show') %>
      <% if user_signed_in? %>
        <% if @basket.basketItems.count == 0 %>
          <%= link_to basket_path, class: "cart hidden" do %>
            <i class="fas fa-shopping-cart"> <span class="cart-number"><%= @basket.quantity %></span></i>
          <% end %>
          <% else %>
          <%= link_to basket_path, class: "cart" do %>
            <i class="fas fa-shopping-cart"> <span class="cart-number"><%= @basket.quantity %></span></i>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</nav>

<%= render 'shared/modal' %>
