<% provide(:title, 'Contact') %>

<div class="text-center">
  <h1 class="contact-title">We love hearing from our readers!</h1>

  <div class="form">

    <%= form_for @contact do |f| %>
      <div class="minline">
        <%= f.text_field :name, class:"input", placeholder: "Your name", required: true %>
      </div>
      <br>

      <div class="minline">
        <%= f.email_field :email, class:"input", placeholder:"Your email" , required: true %>
      </div>
      <br>

      <%= f.text_area :message, class:"input contact_message", placeholder: "Your message :)", as: :text %>

      <br>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <%= f.submit 'Send Message', class: "button", style: "border: none;" %>

    <% end %>

  </div>

</div>
