<% provide(:title, @book.title) %>
<% provide(:description, @book.description) %>
<div class="text-center mt-3">
  <h2 class="book-title product"><%= @book.title %></h2>
  <div class="swiper-container my-4" id="swipe-container">
    <div class="swiper-wrapper" id="swipe-wrapper">
      <% @book.photos.each do |photo| %>
        <div class="swiper-slide swipe-slide">
          <%= cl_image_tag photo.key, :height=>450, :gravity=>'south_west', :crop=>'fill', class: "show-image" %>
        </div>
      <% end %>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev" style="color: lightgray;"></div>
    <div class="swiper-button-next" style="color: lightgray;"></div>
  </div>
  <p class="book-description"><%= @book.description %></p>
  <div class="my-3">----------------------</div>
  <h3>Book Details</h3>
  <%= form_with model: [@book, @basketItem], local: true do |form| %>
    <div class="book-details">
      <div class="book-detail">
        <p>Price</p>
        <p><span class="product-price"><%= @book.price%></span>€</p>
      </div>
      <div class="book-detail">
        <p>Material</p>
        <p><%= @book.material%></p>
      </div>
      <div class="book-detail">
        <p>Ages</p>
        <p><%= @book.age%></p>
      </div>
      <div class="book-detail">
        <p>Dimensions</p>
        <p><%= @book.size%></p>
      </div>
      <div class="book-detail">
        <p>Color scheme</p>
        <p><%= @book.color%></p>
      </div>
    </div>
    <div>
      <%= form.check_box :signed %>
      <%= form.label :signed, "+3.00€ for signed copy", style: "border: none" %>
    </div>
    <input type="submit" name="Add to Cart" value="Add Book" class="button add hover">
  <% end %>

  <p class="bulk-reminder">For orders in bulk, don't hesitate to reach out <%= link_to "directly", new_contact_path %> for a personalised quote!</p>

</div>
