<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>

  </head>
  <body>
    <%= render 'shared/banner' %>
    <%= render 'shared/menu' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
