<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/rails_default' %>
  </head>
  <body>
    <%= render 'shared/banner' %>
    <div class="container">
      <div class="wrapper">
        <%= render 'shared/menu' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
    <%= render 'shared/flashes' %>
  </body>
</html>
